<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <script src="https://cdn.auth0.com/js/auth0/8.10.1/auth0.min.js"></script>
  <script>
    var webAuth = new auth0.WebAuth({
      domain: '<%= domain %>',
      clientID: '<%= clientID %>',
      scope: 'openid profile',
      responseType: 'token id_token',
      redirectUri: '<%= redirectUri %>'
    });
  </script>
  <script>
    webAuth.parseHash(window.location.hash, function (err, response) {
      parent.postMessage(err || response, '<%= redirectUri %>');
    });
  </script>
</head>
<body></body>
</html>
