{
  "extends": "airbnb",
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    // disabled - disagree with airbnb
    "space-before-function-paren": [0],
    "consistent-return": [0],

    // IMHO, more sensible overrides to existing airbnb error definitions
    "max-len": [2, 120, 4, {"ignoreComments": true, "ignoreUrls": true}],
    "comma-dangle": [2, "never"],
    "no-multi-spaces": [2, { "exceptions": { "VariableDeclarator": true, "Property": true }, "ignoreEOLComments": true}],
    "no-unused-expressions": [2, { "allowShortCircuit": true, "allowTernary": true }],
    "no-use-before-define": [2, "nofunc"],
    "no-param-reassign": [2, {"props": false}],
    "no-cond-assign": [2, "except-parens"],
    "no-return-assign": [2, "except-parens"]
  }
}
